{% extends 'registration/forms_base.html' %}
{% load static %}

{% block title_block %}Signup{% endblock %}

{% block content_block %}
<div class="row d-flex justify-content-center">
  <div class="jumbotron w-50 text-center">
    <h3 class="login-label">New User Signup</h3>

    {% if registered %}
      <h3>Thankyou for Siging Up! You can now Login to continue shopping.</h3>
      <br>
      <a href="{% url 'home' %}" class = "btn btn-primary">Return to Homepage</a>
    {% else %}
      <form method="post">
        {% csrf_token %}
        {{ user_form.non_field_errors }}
        <div class="fieldWrapper form-group row">
          {{ user_form.username.errors }}
          <label for="{{ user_form.username.id_for_label }}" class="col-sm-2 col-form-label">Username</label>
          {{ user_form.username }}
        </div>
        <div class="fieldWrapper form-group row">
          {{ user_form.email.errors }}
          <label for="{{ user_form.email.id_for_label }}" class="col-sm-2 col-form-label">Email</label>
          {{ user_form.email }}
        </div>
        <div class="fieldWrapper form-group row">
          {{ user_form.password.errors }}
          <label for="{{ user_form.password.id_for_label }}" class="col-sm-2 col-form-label">Password</label>
          {{ user_form.password }}
        </div>

        <input type="submit" class = "btn btn-primary" value="Signup">
      </form>
    {% endif %}
  </div>
</div>
{% endblock %}
